#ember53 {
    display: none;

}
.pv-top-card--list {
    background-color: black;
    color: black;
}
#ember567 {
    background-color: black;
    color: black;
}
#ember294 {
    background-color: black;
}
.ember-view {
    color: black;
}
.artdeco-entity-lockup__title {
    background-color: black;
}
.pv-profile-sticky-header__image {
    display: none;
}
.pv-top-card--photo {
    display: none;
}